*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


:root{
    --bg-main:#464646;
    --bg-card:#2D2727;
    --border-color:#efc745;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-main);
}
h1{
    color:#fff;
     font-family: sans-serif; 
    font-size: 4rem;
}
 
span{
    color: var(--border-color);
}

#card-sec{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-gap: 2rem;
}

.card{
    display: flex;
    width: 10rem;
    height:10rem;
    background-color: var(--bg-card);
    background-size: contain;
    border-radius: 0.6rem;
   
}

/* .card_selected{
    border: .2rem solid var(--border-color);
} */

/* .card_match{
    border: 2rem solid purple;
} */


/* .card{
    position: relative;
    transition:all .4s linear;
    transform-style: preserve-3d;
} */

/* //will see this later */
/* .back_card{
    height: 10rem;
    width: 10rem;
}

.card .front_card{
    height: 10rem;
    width: 10rem;
}

.front_card{
    position:absolute;
    backface-visibility: hidden ;
}

.back_card {
    position:absolute;
    backface-visibility: hidden ;
}


.front_card{
  
    background: var(--border-color);
    background-size: contain; 
    border-radius: .6rem;
    box-shadow: -1px -2px 8px 0px;
    padding: 2rem;
} 

.back_card{
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .6rem;
    box-shadow: -1px -2px 8px 0px;
    padding: 2rem;
}

.card_selected{
    transform: rotateY(180deg);    
}

.card_match {
    background-color: red;
    
} */

.card {
    position:relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.card,
.back_card,
.front_card{
    height: 10rem;
    width: 10rem;
}

.back_card,
.front_card{
    position: absolute;
    backface-visibility: hidden;
}

.front_card{
    background: var(--border-color);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgb(223, 156, 85) 0px 8px 24px;
    padding: 2rem;
}

.back_card{
    transform: rotateY(180deg);
      /*background-repeat: no-repeat; */
    background-size: contain;
    background-position: center center;
    border-radius: .6rem;
    box-shadow: rgb(255, 153, 0) -1px -2px 8px 0px;
    padding: 2rem;
}

.card_selected {
    transform: rotateY(180deg);   
}


.card_match .front_card{
    background-color: green;
}


button{
    color: #efc745;
    border-radius: 20px;
    width: 6rem;
    
} 
.topic{
    display: flex;
}